body {
	background: rgb(200, 128, 128);
}

.animation-wrapper {
	position: absolute;
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	border: none;
}
.element {
	position: relative;
	display: block;
	width: 0px;
	height: 130%;
	min-width: 0px;
	min-height: 45px;
	padding: 0;
	margin: 0;
	background: rgb(240, 200,200);
	opacity: 0.5;
}
#timer {
	position: absolute;
	margin: auto;
	top: 35%;
}
#meters {
	position: absolute;
	margin: auto;
	top: 40%;
}
.right {
	float: right;
}
.e1 {
	top: 0;
}
.e2 {
	top: 5%;
}
.e3 {
	top: 10%;
}
.e4 {
	top: 15%;
}
.e5 {
	top: 20%;
}
.e6 {
	top: 25%;
}
.e7 {
	top: 30%;
}
.e8 {
	top: 35%;
}
.e9 {
	top: 40%;
}
.e10 {
	top: 45%;
}
.e11 {
	top: 50%;
}
.e12 {
	top: 55%;
}
.e13 {
	top: 60%;
}
.e14 {
	top: 65%;
}
.e15 {
	top: 70%;
}
.e16 {
	top: 75%;
}
.e17 {
	top: 80%;
}
.e18 {
	top: 85%;
}
.e19 {
	top: 90%;
}
.e20 {
	top: 95%;
}
